<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
<!-- 
	<filter>
		<filter-name>wfmvc</filter-name>
		<filter-class>com.bj58.wf.mvc.MvcFilter</filter-class>
	</filter>	
	<filter-mapping>
		<filter-name>wfmvc</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
 -->
 	<welcome-file-list>
 		<welcome-file>index.html</welcome-file>
 		<welcome-file>index.htm</welcome-file>
 		<welcome-file>index.jsp</welcome-file>
 	</welcome-file-list>
 	
 	<servlet>
 		<servlet-name>DiagramServlet</servlet-name>
 		<servlet-class>com.nic.activiti.springintegrated.service.DiagramServlet</servlet-class>
 	</servlet>
 	<servlet-mapping>
 		<servlet-name>DiagramServlet</servlet-name>
 		<url-pattern>DiagramServlet.png</url-pattern>
 	</servlet-mapping>
 	
 	<!-- 用来定位Spring XML文件的上下文配置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- 加载spring配置文件， 默认在/src/spring下 -->
		<param-value>classpath*:*.xml</param-value>
	</context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
 	
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<description>加载/WEB-INF/spring-mvc/目录下的所有XML作为Spring MVC的配置文件</description>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring-mvc/*.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>hessianServlet</servlet-name>
		<servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>
		<init-param>
			<param-name>home-class</param-name>
			<param-value>com.nic.hessian.HelloImpl</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>hessianServlet</servlet-name>
		<url-pattern>/webservice</url-pattern>
	</servlet-mapping>
	
</web-app>
